<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
</head>
<body>
<!--сделаем PATCH на /people/id отправив обьект хранящийся по ключу "person"
            вначале заполнив/ОБНОВИВ его поля-->
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <!--    Подсказка рядом с окошком ввода-->
    <label for="name">Enter Name: </label>
    <!--    Назначение поля Name  в классе Person-->
    <input type="text" th:field="*{name}" id="name"/>
    <!--    пустая строка-->
    <br/>
    <!--    КНОПКА ОТПРАВКИ  данныйх PATCH-запросом-->
    <input type="submit" value="Update!">
</form>
</body>
</html>